$gray:               #666666;

$color-primary:      #8dc63f;
$color-secondary:    #00aeef;
$bg-dark:            rgba(0, 0, 0, 0.7);
$bg-white:           #fff;

$text-white:         #fff;
$text-black:         #000;

$font-xs:            14px;

$mobile-width: "(max-width: 480px)";
$tablet-width: "(max-width: 990px)";
