.contacts-btn {
	display: block;
	max-width: 190px;
	padding: 25px 15px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 40px;
	color: $text-white;
	background: $color-secondary;
	border-radius: 4px;
	text-align: center;
  transition: all .2s;

	&:hover {
		color: $text-white;
		text-decoration: none;
    background: darken($color-secondary, 5);
  }

  &:focus {
    color: $text-white;
    text-decoration: none;
  }
}
