.counters-list {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	max-width: 1000px;

  @media #{$tablet-width} {
    text-align: center;
  }

}
