.features {

}

.features__header {
	background: $color-primary;
}

.features__info {
	background: $body-bg;
}

.features__list {
  padding: 30px 0;
	font-size: 0;

	@media #{$tablet-width} {
		text-align: center;
	}
}
