.field-checkbox__label {
	cursor: pointer;
}

.field-checkbox .field-checkbox__btn {
	display: inline-block;
	vertical-align: bottom;
	width: 16px;
  height: 16px;
	margin-right: 5px;
	line-height: 16px;
	outline: none;

	&:focus {
		outline: none;
	}
}

.field-checkbox__pic {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background: url('../img/check.png') no-repeat;
	background-size: contain;
	display: none;
}
