.income {
  font-size: 0;
  text-align: center;
}

.income__title {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: lowercase;
  font-family: 'akrobatblack', verdana, sans-serif;
}

.income__sum {
  // max-width: 500px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  padding: 12px 25px;
  border: 3px solid $color-secondary;
  border-radius: 12px;
  font-size: 45px;
  line-height: 1.2em;
  color: $color-secondary;
  text-align: center;
  font-family: 'akrobatblack', verdana, sans-serif;
}
