.main-footer {
	padding: 30px 0 50px 0;
}

.main-footer__logo {
  margin-bottom: 20px;

	@media #{$mobile-width} {
		text-align: center;
	}

	img {
    width: 100%;
		max-width: 115px;
		margin: auto;
		margin-bottom: 25px;
		box-shadow: 1px 3px 6px $gray;
	}
}

.main-footer__inner {

  @media #{(max-width: 767px)} {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: auto;
  }

	@media #{$mobile-width} {
		width: auto;
	}

	&--logo {

		@media #{(min-width: 1200px)} {
			margin-top: -90px;
		}
		@media #{$mobile-width} {
			display: block;
			margin: auto;
		}

	}
}

.main-footer__menu-wrapper {
	margin-bottom: 25px;
}
