.map {
  position: relative;
}

.map__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 15px 30px;
  font-size: 25px;
  line-height: 1.2em;
  font-family: 'akrobatblack', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: $bg-white;
  z-index: 10;
}

.map__wrapper {
  height: 400px;
  width: 100%;
}
