.order {
	background: $color-primary;

  .container {
    padding: 0;
  }
}



.order__info {
	padding-top: 30px;
  margin-bottom: 20px;
}

.order__title {
	max-width: 235px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	text-align: center;
	background: $bg-white;
	font-family: 'akrobatblack', verdana, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1.2em;
}

.order__text {
	color: $text-white;
	font-size: 14px;
	line-height: 1.2em;
}
