.section-title {
  margin: 0;
  padding: 15px;
  font-size: 42px;
  line-height: 1.2em;
  color: $text-white;
  text-align: center;
  font-family: 'akrobatsemibold', Arial, sans-serif;

  @media #{$tablet-width} {
    font-size: 25px;
  }
}

.section-title--green {
  margin-bottom: 20px;
  color: $color-primary;
  font-weight: bold;
  font-family: 'akrobatbold', verdana, sans-serif;
}
